html,
body{
  height: 100%  ;
}
.countries {
  height: 100%;
  width: 100%;
}

.countries #intro {
  display: block;
  width: 100%;
  height: calc(100vh - 50%);
  background: #fff;
}

.countries #intro .carousel-item .carousel-background img {
  height: 100%;
  width: 100%;
}



