html,
body {
  height: 100%;
}
.countries {
  height: 100%;
  width: 100%;
}

.countries #intro {
  display: block;
  width: 100%;
  height: calc(100vh - 50%);
  background: #fff;
}

.countries #intro .carousel-item .carousel-background img {
  height: 100%;
  width: 100%;
}

.countries #featured-services h2 {
  margin: unset !important;
  color: #fff;
}

.countries #countries .container {
  padding: 20px 70px;
}

.countries #countries h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.countries #countries h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 15px 0;
}

@media (max-width: 979px) {
  .countries #countries .container {
    padding: 20px !important;
  }
}
